#content {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.192);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 150px;
    border-radius: 7px;
    font-family: monospace;
    margin-bottom: 100px;
}


h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    font-family: monospace;
}

#Datos input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;

}


#Datos textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}





#botonG:hover {
    cursor: pointer;
}
#botonE:hover {
    cursor: pointer;
}


@media (max-widht:480px){
    form{
        width: 100%;
    }
}





